:root {
    --background-color: #fefefe;
    --text-color: #333333;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.border {
    border: 2px solid var(--text-color);
    border-radius: 25px;
    padding: 16px;
}

.button {
    border-radius: 25px;
    padding: 10px;
    background-color: var(--text-color);
    color: var(--background-color);
    text-transform: uppercase;
    font-size: 12px;
    outline: none;
    border: none;
    letter-spacing: 2px;
}

.element {
    position: fixed;
    width: 100vh;
    height: 30vh;
    animation: pulse 5s infinite;
    z-index: -1;
  }
  
  @keyframes pulse {
    0% {
        background: tomato;
    }
    100% {
        color: #333333;
    }
  }